body {
background-color: white;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  background-color: #f3cd9b;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  font-size: 0.6em;
  margin-top: 0.5rem;
}

#container {
  display: flex;
}

.cartao {
  margin: 1rem 1rem;
  background-color: aqua;
  height: 20rem;
  flex-grow: 1;
  flex-basis: calc(33% - 0.6rem);
}

.cartao_conteudo {
  text-align: center;
  background-color: aquamarine;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
}

.cartao_conteudo h3 {
  color: var(black);
  border: 1px solid var(black);
  text-align: left;
  padding: 0.5rem;
  position: absolute;
  margin: 0.6rem;
  font-size: 1vw;
  backface-visibility: hidden;
}

.cartao_conteudo_pergunta, .cartao_conteudo_resposta {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cartao_conteudo_resposta {
  transform: rotateY(180deg);
}