body {
background-color: white;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  background-color: #f3cd9b;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  font-size: 0.6em;
  margin-top: 0.5rem;
}

#container {
  display: flex;
}

.cartao {
  margin: 1rem 1rem;
  background-color: aqua;
  height: 20rem;
  flex-grow: 1;
  flex-basis: calc(33% - 0.6rem);
}

.cartao_conteudo {
  text-align: center;
  background-color: aquamarine;
  height: 100%;
}

.cartao_conteudo h3 {
  background-color: gold;
  text-align: left;
  padding: 0.5rem;
  margin: 0.6rem;
  font-size: 1vw;
  position: absolute;
}